* {
  box-sizing: border-box;
  font-family: Arial;
}

*:focus {
  outline: none;
}

::selection {
  background: #fa08;
  color: #000;
}

img {
  -webkit-user-drag: none;
  user-select: none;
}


html,
body {
  height: 100%;
  background: #333;
}

body {
  background-size: cover;
  margin: 0;
}

.main {
  height: 100%;
  background: linear-gradient(0deg,#b18753,#dc8a8a);
  overflow: auto;
}


/* Tabla */


.tableContainer {
  padding-top: 15vh;
}

.table {
  border: solid #000 2px;
  width: fit-content;
  margin: auto;
}

.table .tbody {
  max-height: 300px;
  overflow: auto;
}

.table :is(.thead, .tbody) {
/*   min-width: fit-content; */
}

.table :is(.thead .row, .tbody .row) {
  width: fit-content;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(6, 136px);
}


.table .thead .row {
  background: #3a85a5;
}


.table .tbody .row:nth-child(odd) {
  background: #48a751;
}

.table .tbody .row:nth-child(even) {
  background: #328c24;
}


.table .col {
  border: solid #000 2px;
  text-align: center;
  padding: 5%;
  color: #fff;
}

img.opt {
  width: 15% !important;
  cursor: pointer;
  border-radius: 50%;

  transition: filter 0.3s;
}

img.opt:hover {
  --dropHover: drop-shadow(0 0 1.5vh #fff);
  filter: var(--dropHover)
          var(--dropHover)
          var(--dropHover)
  ;
}

img.opt:active {
  --dropActive: drop-shadow(0 0 1.5vh #000);
  filter: var(--dropActive)
          var(--dropActive)
          var(--dropActive)
  ;
}

.space {
  display: inline-block;
  width: 1vw
}

