* {
  box-sizing: border-box;
  font-family: Arial;
}

*:focus {
  outline: none;
}

::selection {
  background: #fa08;
  color: #000;
}

img {
  -webkit-user-drag: none;
  user-select: none;
}


html,
body {
  height: 100%;
  background: #333;
}

body {
  background-size: cover;
  margin: 0;
}

.main {
  height: 100%;
  background: linear-gradient(0deg,#b18753,#dc8a8a);
  overflow: auto;
}


/* Tabla */


.tableContainer {
  padding-top: 15vh;
}

.table {
  border: solid #000 2px;
  width: fit-content;
  margin: auto;
}

.table :is(.thead .row, .tbody .row) {
  width: fit-content;
  min-width:;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(6, 10vw);
}


.table .tbody {
  max-height: 300px;
  overflow: auto;
}

.table .thead .row {
  background: #4da53a;
}

.table .tbody .row:nth-child(even) {
  background: #bb5757;
}

.table .tbody .row:nth-child(odd) {
  background: #824b4b;
}

.table .col {
  border: solid #000 2px;
  text-align: center;
  padding: 5%;
  min-width: fit-content;
}
