* {
  box-sizing: border-box;
  font-family: Arial;
}

*:focus {
  outline: none;
}

::selection {
  background: #fa0;
  color: #000;
}

img {
  -webkit-user-drag: none;
  user-select: none;
}




body {
  background: linear-gradient(0deg,#b18753,#dc8a8a);
  background-size: cover;
  margin: 0;
}


nav.navBar {
  width: 100%;
  height: 10vh;
  padding: 5px;

  background: linear-gradient(90deg,#9e7db0,#eb8080);
  --Blur: 5px;
  --Spread: 2px;
  box-shadow: #000
              0px 0px
              var(--Blur) var(--Spread);
}

nav > * {
  display: inline-block;
}

nav .left {
  padding: 0.3vh 2vh;

  border-radius: 10px;
  border: solid transparent 0.4vh;
  cursor: pointer;

  --t: 0.5s;
  transition: background var(--t),
              border     var(--t);
}

nav .left:hover {
  background: #e07474;
  border: solid #333 0.4vh;
}

nav .home {
  height: 85%;
}

nav .right {
  float: right;
  height: 100%;
}

nav .user {
  width: fit-content;
  height: 100%;

  display: flex;
  flex-direction: row;
  align-items: center; /* Alineamiento Vertical */
}

nav .user .name {
  margin-right: 10px;

  color: #fff;
}

nav .user .icon {
  width: 8vh;
  height: 8vh;
  border-radius: 50%;
}




.main {
  height: 90vh;
}

:root {
  --mainContentWidth: 80%;
}

.main > .panelLeft {
  width: calc(100% - var(--mainContentWidth));
  height: 100%;
  display: inline-block;
  background: linear-gradient(0deg,#7b5a90,#bf6985);
  --Blur: 3px;
  --Spread: 2px;
  box-shadow: #000
              0px 4px
              var(--Blur) var(--Spread);

  transition: width 0.5s;
}

.main > .content {
  width: var(--mainContentWidth);
  height: 100%;
  display: inline-block;

  transition: width 0.5s;
}
